@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Bona Nova SC", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Italiana", serif;
}

.website-name {
  font-family: "Sixtyfour Convergence", sans-serif;
}

/* Custom animation for notification progress bar */
@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
